#wrapper {
  width: 1000px;
  height: 1050px;
  background: linear-gradient(#F9F9F9, #FFFFFF, #FFFFFF)
}

#globe {
  width: 90px;
  height: 90px;
}

#header {
  background-color: #FFFFFF;
}

h1 {
  font-size: 35px;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 0px;
}

#header span {
  color: blue;
}

#globe, h1, #header span {
  display: inline-block;
}

h2 {
  color: white;
  height: 45px;
  line-height: 45px;
  background-color: #5182AB;
  margin-bottom: 10px;
  margin-top: 0px;
}

#left {
  width: 200px;
  margin: 0px;
}

#leftbox {
  width: 180px;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid black;
  padding-bottom: 25px;
  border: 1px;
}

#leftbox h1 {
  font-size: 15px;
  font-family: arial;
  vertical-align: top;
}

#leftbox h1 span {
  color: red;
}

#leftbox p {
  color: black;
  font-size: 12px;
}

#leftbox p span {
  color: blue;
}

#watch {
  background-color: #4882B3;
  border-radius: 5px;
  width: 160px;
  height: 30px;
  font-size: 15px;
  color: white;
}

#more {
  background-color: #EF7C00;
  border-radius: 5px;
  width: 160px;
  height: 30px;
  font-size: 12px;
  color: white;
}

#leftbottom {
  background-image: url(images/ad_background.png);
  width: 180px;
  height: 250px;
  margin: 0px;
  margin-right: inherit;
  /*margin-top: 20px;*/
  /*margin-right: 0px;*/
}

#ninja {
  width: 70px;
  height: 90px;
  margin-left: 48px;
  margin-top: 42px;
  margin-bottom: 35px;
}

#leftbottom h1 {
  color: white;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}

#learn {
  margin-left: 30px;
  width: 115px;
  height: 28px;
  background-color: #27C6DF;
  border-radius: 3px;
}

#home {
  width: 25px;
  height: 25px;
}

#topbox h1 {
  font-size: 25px;
  width: 60px;
}

#left, #top {
  vertical-align: top;
  display: inline-block;
}

#topbox {
  width: 710px;
  height: 100px;
  display: inline-block;
  margin-left: 35px;
  border-bottom: 3px solid black;
  padding-bottom: 1px;
}

#phone {
  width: 45px;
  height: 45px;
  margin: 0px;
  margin-left: 365px;
  margin-top: 20px;
}

#topright {
  width: 200px;
  margin: 0px;
  text-align: center;
  margin-right: 0px;
  height: 80px;
  margin-left: 0px;
  margin-top: 0px;
}

#topright h3, #topright h4, #topright h2 {
  width: 200px;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: inherit;
}

#topright, #phone, #home, #topbox h1 {
  display: inline-block;
  vertical-align: top;
}

#phone, #topright {
  margin-left:
}

#topright h3 {
  height: 40px;
  font-size: 35px;
  color: #00BFDF;
}

#topright h2 {
  height: 25px;
  color: black;
  font-weight: lighter;
}

#topright h4 {
  font-weight: lighter;
}

#middlebox {
  width: 710px;
  height: 450px;
  margin-right: 0px;
  margin-left: 25px;
  /*display: block;*/
}

#server {
  width: 250px;
  height: 98px;
  margin-left: 180px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#middlebox h1 {
  color: #22659E;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 35px;
}

#middlebox ul {
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 5px;
  margin-top: 5px;
}

.clients {
  color: #00BFDF;
}

.web {
  color: black;
  font-weight: bold;
}

#middlebox li {
  margin-left: 50px;
  font-weight: 400;
}

#middlebox ol {
  margin-top: 3px;
  font-weight: 400;
}

#bottom {
  width: 750px;
  height: 250px;
  border-top: 5px solid #0085E0;
  border-left: 5px solid #0085E0;
  border-right: 5px solid #0085E0;
  margin-left: 250px;
  margin-top: 15px;
}

#html {
  width: 120px;
  height: 120px;
  margin-left: 20px;
}

#html, #bottomcenter {
  display: inline-block;
}

#bottomcenter {
  width: 450px;
  height: 200px;
  margin-right: 0px;
}

#bottomcenter h1 {
  font-size: 23px;
  font-weight: bold;
  margin-top: 15px;
}

#bottomcenter p {
  font-size: 17px;
}
